/*-- scss:defaults --*/

// fonts
.reveal section {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.reveal section .point-seven-em {
    font-size: 0.65em; 
}


.reveal section .point-five-em {
    font-size: 0.5em; 
}

